# Dependencies
/node_modules
/lib


# Environment files
.env
.env.local

# Testing and Coverage
/coverage
/coverage.json
nyc_output/

# IDE/OS specific files
.DS_Store
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*